.main {
  flex: 1;
  padding: 3rem 0;

 
  .heroText {
    opacity: 0;
    animation: slideInLeft 1s ease forwards;
    color: var(--deep-cocoa);

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      //color: var(--deep-cocoa);
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      //color: var(--deep-cocoa);
      margin-top: 1rem;
      line-height: 1.5;
    }
  }
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}